*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Rubik, sans-serif, serif;
}
body{
    background-color:rgb(231, 231, 231);
}
#enc1{
    width:100%;
    border-bottom:2px solid black;
    background-color:#85b427;
}
#img1{
    border: 5px solid black;
    border-radius:1em;
    margin:1em 3em;

}
#tit1{
    display:inline;
    position:relative;
    left:20em;
    bottom:6em;
    font-weight:900;
}
ul, ol {
    list-style:none;
}
.nav1{
    margin-left:10em;
    margin-top:3em;
    width:10%;
}
.nav1 > li {
    float:left;
}
.nav li{
    display:inline;
    float:left;
}
.nav1 li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:1.5em 1em;
    display:block;
    border:1px solid white;
}
.nav1 li a:hover {
    background-color:#434343;
}
.nav1 li ul {
    display:none;
    position:absolute;
    min-width:10em;
}
.nav1 li:hover > ul {
    display:block;
}
.nav1 li ul li {
    position:relative;
    left:11.8em;
    bottom:2.5em;
}
#form1{
    float:right;
    margin-top:14em;
    margin-right:-5em;
}
#ico1{
    float:right;
    margin-top:3em;
    margin-right:3em;
    height: 2em;
    width: 2em;
    border:1px solid #85b427;
    border-radius:0.5em;
}
#ico1:hover{
    background-color: gray;
}
#form1 input[type="search"]{
   font-size:1.5em;
   border:1px solid #85b427;
   border-radius:0.5em;
   width:80%;
   text-align:center;
}
#form1 button{
    font-size:1.2em;
    border-radius:0.5em;
    border:1px solid #85b427;
}
#div1{
    width: 54%;
    font-size:1.5em;
    border:1px solid black;
    background-color:black;
    float:right;
    position:relative;
    bottom:18em;
    border-radius:0.5em;
}
#div1 li{
    display:inline;
    margin-right:2em;
    float:right;
    background-color:black;
    padding:2px;
}
#div1 li a{
    text-decoration:none;
    color:white;
    font-weight:700;
}
#div1 li a:hover{
    background-color:#434343;
}
#secc1{
    background-color:rgb(182, 182, 182);
    width:20%;
    margin-left:4em;
    margin-top:8em;
    padding:2em;
    text-align:center;
    border-radius:1em;
}
    #secc1 input[type="email"]{
        display:block;
        margin:0.5em auto;
        width:80%;
        line-height:2em;
        border:1px solid black;
    }
    #secc1 input[type="password"]{
        display:block;
        margin:0.5em auto;
        width:80%;
        line-height:2em;
        border:1px solid black;
    }
    #secc1 input[type="button"]{
        display:block;
        margin:1em auto;
        background-color:#a3cf4b;
        height: 2.5em;
        padding:0.5em;
    }
    #secc1 input[type="submit"]{
        display:block;
        margin:1em auto;
        background-color:#a3cf4b;
        height: 2.5em;
        padding:0.5em;
    }
    #secc1 input[type="button"]:hover{
        background-color:rgb(0, 0, 0);
        color:white;
        border:1px solid white;
    }
    #secc1 input[type="submit"]:hover{
        background-color:rgb(0, 0, 0);
        color:white;
        border:1px solid white;
    }
#div2{
    width:70%;
    float:right;
    position:relative;
    bottom:40em;
    margin:2em;
    padding:1em;
    text-align:center;
    background-color:rgb(185, 184, 184);
}
#div3{
    padding:0.5em;
    margin:1em auto;
    text-align:left;
}
#div4{
    padding:0.5em;
    margin:3em auto;
    text-align:left;
}
#div5{
    display:block;
    padding:1em;
    background-color:lightgray;
}
#div6{
    float:right;
    position:relative;
    bottom:12.6em;
    padding:1em;
    background-color:lightgray;
}
#div7{
    display:block;
    padding:1em;
    background-color:lightgray;
}
#div8{
    float:right;
    position:relative;
    bottom: 13.4em;
    padding:1em;
    background-color:lightgray;
}
.div10{
    width:48%;
    font-size:150%;
}
.img2{
    max-height:55%;
    max-width:50%;
    position:relative;
    left:7em;
}
#div11{
    display:block;
    position:absolute;
    bottom:-100em;
    width:70%;
    margin:2em;
    padding:1em;
    text-align:center;
    background-color:rgb(185,184,184);
}
#div12{
    margin:1em;
    padding:1em;
}
#div13{
    margin:1em;
    display:block;
    padding:1em;
    background-color:lightgray;
    text-align:left;
    font-size:150%;
}
#div14{
    display:block;
    padding:1em;
    background-color:lightgray;
    width:48%;
    text-align:left;
    font-size:150%;
}
#div15{
    float:right;
    position:relative;
    bottom:12.7em;
    padding:1em;
    background-color:lightgray;
    width:48%;
    text-align:left;
    font-size:150%;
}
#img10{
    max-height: 50%;
    max-width: 50%;
    position:relative;
    left:7em;
}
#img11{
    max-height:45%;
    max-width:45%;
    position:relative;
    left:9em;
}
#img12{
    max-height: 30%;
    max-width: 40%;
    position:relative;
    left:18em;
}
footer{
    position:relative;
    top:95em;
    width:100%;
    background-color:#85b427;
    vertical-align:bottom;
    border-radius:0.5em;
}
#pa1{
    font-weight:900;
    font-size:135%;
    text-align:center;
    margin:0.5em;
    position:relative;
    left:30em;
}
#butt1:hover{
    background-color:gray;
}