*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Rubik, sans-serif, serif;
}
body{
    background-color:rgb(231, 231, 231);
}
#enc1{
    width:100%;
    border-bottom:2px solid black;
    background-color:#85b427;
}
#img1{
    border: 5px solid black;
    border-radius:1em;
    margin:1em 3em;

}
#tit1{
    display:inline;
    position:relative;
    left:20em;
    bottom:6em;
    font-weight:900;
}
#form1{
    float:right;
    margin-top:14em;
    margin-right:-5em;
}
#ico1{
    float:right;
    margin-top:3em;
    margin-right:3em;
    height: 2em;
    width: 2em;
    border:1px solid #85b427;
    border-radius:0.5em;
}
#ico1:hover{
    background-color: gray;
}
#form1 input[type="search"]{
   font-size:1.5em;
   border:1px solid #85b427;
   border-radius:0.5em;
   width:80%;
   text-align:center;
}
#form1 button{
    font-size:1.2em;
    border-radius:0.5em;
    border:1px solid #85b427;
}
.main_initial_container{
    display:grid;
    grid-template-columns:2fr 7fr;
    grid-template-rows:50px 800px;
    font-size:1.5em;
}

.nav_container{
    width:80%;
    display:flex;
    flex-direction:row;
    grid-column-start:1;
    grid-column-end:3;
    margin:0 auto;
    font-weight:bold;
    align-items:center; 
    justify-content:space-evenly;
}
.nav_title{
    background-color:black;
    padding:5px 45px;
    border-radius:15px;
}

.nav_title>a{
    text-decoration:none;
    color:white;
}
.nav_title>a:hover{
    color:rgb(194, 192, 192);
}

.login_container{
    width:80%;
    height:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#aaa;
    box-shadow:5px 5px 20px 5px #333;
    font-weight:bold;
    justify-content:space-evenly;
    border-radius:15px;
}

.login_container input[type="email"], input[type="password"]{
    width:70%;
    text-align:center;
    font-size:0.8em;
    border-radius:15px;
    padding:3px;
}

.login_container input[type="submit"]{
    background-color:#a1ca4f;
    width:45%;
    font-size:0.8em;
    font-weight:bold;
    border-radius:15px;
    box-shadow:3px 3px 10px 3px #333;
    padding:3px;
    color:black;
}

.login_container input[type="submit"]:hover{
    background-color:#74a118;
}

.login_container input[type="submit"]:active{
    background-color:black;
    color:white;
}

.login_container>a{
    font-size:0.8em;
}
.login_container input[type="button"]{
    background-color:beige;
    font-size:1em;
    font-weight:bold;
    border-radius:15px;
    box-shadow:3px 3px 10px 3px #333;
    padding:5px;
    color:black;
}

.login_container input[type="button"]:hover{
    background-color:rgb(224, 224, 150);
}

.login_container input[type="button"]:active{
    background-color:black;
    color:white;
}

.products_container{
    width:90%;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:50px repeat(2, 1fr);
    grid-gap:25px;
}

.products_title{
    text-align:center;
    grid-column-start:1;
    grid-column-end:3;
}
.product_card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:10px;
    background-color:#bbb;
    box-shadow:3px 3px 10px 3px #333;
}

.product_image{
    width:50%;
}

footer{
    width:100%;
    background-color:#85b427;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-top:2xp solid black;
}
