body{
    background-color:aliceblue;
}

.methods{
    width:85%;
    height:auto;
    min-height:530px;
    margin:20px auto;
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:10px;
    background-color:#eee;
}

#profile_image{
    border-radius:50%;
}

.information{
    padding:10px 20px;;   
    font-size:1.2rem;
    line-height:1.5em;
}

.function_cont{
    width:80%;
    margin:10px auto;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(4, 1fr);
    grid-gap:5px;
}

.button{
    display:block;
    width:50%;
    height:70px;
    margin:40px auto;
    border:3px solid black;
    box-shadow: 5px 5px 20px 5px black;
    border-radius:20px;
    font-size:2em;
    font-weight:bold;
    background-color:#85b427;
}
.button:hover{
    background-color:#a1ca4f;
}
.button:active{
    background-color:black;
    color:white;
}

.button7{grid-column-start:1; grid-column-end:3;}